{% extends "base.html" %}

{% block title %}Cambia tu contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm p-4">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Restablecimiento de Contraseña Enviado</h1>
                    <p class="card-text lead">
                        Le hemos enviado instrucciones por correo electrónico para configurar su nueva contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlas en breve.
                    </p>
                    <p class="card-text">
                        Si no recibe un correo electrónico, por favor, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado (spam).
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Volver al Inicio de Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}