{% extends "base.html" %}

{% block title %}Contraseña cambiada{% endblock %}

{% block content %}

  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm p-4">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">¡Tu contraseña ha sido modificada!</h1>
                    <p class="card-text lead mb-4">
                        Tu nueva contraseña ha sido establecida correctamente.
                    </p>
                    <p class="card-text">
                        <a href="{% url 'login' %}" class="btn btn-primary mt-3">Iniciar Sesión</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}