{% extends "base.html" %}

{% load i18n %}

{% block title %}Recuperar Clave{% endblock %}

{% block content %}

<div class="container mt-5">
<div class="row">
    <div class="col-md-6 mx-auto">  <!-- Centrado horizontal con ancho medio -->

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>¡Error!</strong> {{ form.errors }}
            </div>
        {% else %}
            <div class="alert alert-info text-center" >
                <strong>Ingrese un correo de usuario valido, para reestablecer su cuenta.</strong>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3 text-center">
                <label for="{{ form.email.id_for_label }}">{% translate 'E-mail' %}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="errorlist">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary w-100">{% translate 'Enviar Correo' %}</button>
        </form>

    </div>
</div>
</div>


{% endblock %}