{% extends "base.html" %}

{% block title %}Cambia tu contraseña{% endblock %}

{% block content %}
   <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm p-4">
                <div class="card-body text-center">
                    {% if validlink %}
                        <h1 class="card-title mb-4">Escribe tu nueva contraseña</h1>
                        <p class="card-text mb-4">
                            Por favor, introduce tu nueva contraseña y confírmala.
                        </p>
                        <form method="post" class="text-start"> {# Alinea el formulario a la izquierda dentro de la tarjeta #}
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3"> {# Margen inferior para cada campo del formulario #}
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }} {# Django renderiza el input #}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback d-block"> {# Muestra los errores si existen #}
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary w-100 mt-3">Restablecer Contraseña</button>
                        </form>
                    {% else %}
                        <h1 class="card-title mb-4 text-danger">Enlace no Válido</h1>
                        <p class="card-text lead">
                            El enlace de cambio de contraseña ya no es válido, posiblemente ya ha sido utilizado o ha expirado.
                            Por favor, solicita un <a href="{% url 'password_reset' %}">nuevo enlace</a> para restablecer tu contraseña.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}