{% extends "base.html" %}

{% load static %}

{% block navbar %}
{# Bloque vacío sobrescribe el contenido del navbar de base.html #}
{% endblock navbar %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
<div class="container-fluid mt-3">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {# Tarjeta para 'Ingresantes por Carrera' #}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'usuario/img/ingresantesutn.png' %}" class="card-img-top p-3" alt="ingresantes" style="height: 140px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">Ingresantes</h5>
                    <p class="card-text text-muted">Obtén el la cantidad de ingresantes por carrera.</p>
                    <a href="#" class="btn btn-primary mt-2" data-report-type="ingresantes">
                        Ver Reporte
                    </a>
                </div>
            </div>
        </div>

        {# Tarjeta para 'Docentes por dpto, carrera y comision' #}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'usuario/img/docentesxcarrera.png' %}" class="card-img-top p-3" alt="docentes" style="height: 140px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">Docentes</h5>
                    <p class="card-text text-muted">Obtén la cantidad de docentes por dpto y carrera.</p>
                    <a href="#" class="btn btn-primary mt-2" data-report-type="docentes">
                        Ver Reporte
                    </a>
                </div>
            </div>
        </div>

{# Tarjeta para 'Alumnos Retenidos de primer año' #}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'usuario/img/retenidos.png' %}" class="card-img-top p-3" alt="retenidos" style="height: 140px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">Alumnos Retenidos</h5>
                    <p class="card-text text-muted">Obtén la cantidad de alumnos retenidos de primer año.</p>
                    <a href="#" class="btn btn-primary mt-2" data-report-type="retenidos">
                        Ver Reporte
                    </a>
                </div>
            </div>
        </div>

{# Tarjeta para 'Alumnos Retenidos de primer año' #}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'usuario/img/fetaria.png' %}" class="card-img-top p-3" alt="rango_etario" style="height: 140px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">Franja Etaria</h5>
                    <p class="card-text text-muted">Obtén la cantidad de alumnos por edad y Sexo.</p>
                    <a href="#" class="btn btn-primary mt-2" data-report-type="etarios">
                        Ver Reporte
                    </a>
                </div>
            </div>
        </div>

{# Tarjeta para 'Alumnos Retenidos de primer año' #}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'usuario/img/gradxanio120.png' %}" class="card-img-top p-3" alt="graduados_anio" style="height: 140px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">Graduados por Año de Ingreso</h5>
                    <p class="card-text text-muted">Obtén la cantidad de Graduados segun su Ingreso.</p>
                    <a href="#" class="btn btn-primary mt-2" data-report-type="gradxanio">
                        Ver Reporte
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}


